.top{
    display:flex;
    justify-content:space-between;
    /* gap:10px; */
    background-color: rgb(250,225,79);
    padding:0 px;
    height:150px;

}
label{
    font-size:20px;
}
input{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid powderblue;
    border-radius: 8px;
    box-sizing: border-box; 
    box-shadow: 0 0px 10px 0 black;
}
img{
    width:150px;
    height:150px;
}
h1{
    padding:50px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:100px;
    margin-right:100px;
}
#result,#pwd{
    background-color: rgb(4, 214, 251);
}
div{
    display:flex;
    justify-content:space-between;
    padding:10px;
    margin:10px;
    background-color: rgb(250,225,79);
}
#result,#pwd{
    padding:0;
}
button{
    background-color:green;
    color:white;
    padding:10px;
    border-radius:10px;
    cursor:pointer;
    font-size:20px;
    margin-left:10px;

}
.main{
    display:flex;
    width:400px;
    border:2px solid black;
    margin-top:100px;
    margin-left:25vw;
    padding:50px;
    justify-content: center;
    background-color: rgb(4, 214, 251);
}

@media (max-width: 750px) and (min-width: 0px) {
    h1 {
        font-size: 15px;
        padding-right:0;
        margin-right:0;
        margin-left:0;
        padding-left:10px;
    }
    span{
        display:block;
        text-align:center;
    }
    .main{
        width:200px;
    }
}

@media (min-width: 751px) and (max-width: 900px) {
    h1 {
        font-size: 20px;
    }
    span{
        display:block;
        text-align:center;
    }

}
